body{
    width: 100%;
    overflow-x: hidden;
    background-color:  hsl(212, 45%, 89%);
}
p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: serif;
}
.container{
    width: 250px;
    height: 400px;
    margin: auto;
    margin-top: 90px;
    padding-top: 10px;
    background-color: white;
    border-radius: 15px;
}
.box{
    width: 230px;
    height: 230px;
    background-color: blue;
    margin: auto;
    border-radius: 7px;
}
.txt{
    font-size: 15px;
    text-align: center;
    color: rgb(173, 168, 168);
    font-family: serif;
    font-weight: 400;
}